<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="03.styles.css">
    <title>Foto Galeria</title>
</head>
<body>
    <div class="photo-grid">
        <div class="card">
          1
        </div>
        <div class="card card-tall">
          2
        </div>
        <div class="card">
            1
          </div>
        <div class="card card-wide">
          3
        </div>
        <div class="card card-tall">
            4
        </div>
        <div class="card">
            1
          </div>
        <div class="card card-wide">
            5
        </div>
  
      <!-- Add more items here  -->
  
  </div>
</body>
</html>