* {
    box-sizing: border-box;
}

html {
    font-size: 3.5vw;/*Comentar para ver la diferencia*/
}

.container {
    margin: 0px auto;
    width: 80%;
}


header {
    text-align: center;    
}

header h1 {
    font-size: 8vw;/*Comentar para ver la diferencia*/
}

main {
    display: flex;
    justify-content: space-evenly;
}

main section {
    width: 30%;
}

@media screen and (min-width:576px) {
    html {
        font-size: 2.5vw;/*Comentar para ver la diferencia*/
    }
}