<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="01.styles.css">
    <title>Diseño 1-3 Columas fluida</title>
</head>
<body>
    <div class="main-container">
        <div class="wrapper">
            <header class="main-head">The header</header>
            <nav class="main-nav">
                <u>
                    <li><a href="">Nav 1</a></li>
                    <li><a href="">Nav 2</a></li>
                    <li><a href="">Nav 3</a></li>
                </u>
            </nav>
            <article class="content">
                <h1>Area principal del articulo</h1>
                <p>En este diseño, las áreas se muestran en el orden en que están escritas en las pantallas de menos de 500 píxeles de ancho. Pasamos a un diseño de dos columnas, y luego a uno de tres columnas mediante la redefinición de la rejilla y la colocación de los elementos en ella.</p>
            </article>
            <aside class="side">Sidebar</aside>
            <div class="ad">Advertasing</div>
            <footer class="main-footer">The Footer</footer>
        </div>
    </div>
</body>
</html>