<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="02.styles.css">
    <title>Galeria auto</title>
</head>
<body>
    <ul class="listing">
        <li class="card">
          <h2 class="card-header">Item Uno</h2>
          <div class="card-body"><p>El contenido de este ítem-lista va aquí.</p></div>
          <div class="cta"><a href="">¡Llamada a la acción!</a></div>
        </li>
         <li class="card">
           <h2 class="card-header">Item Dos</h2>
           <div class="card-body"><p>El contenido de este ítem-lista va aquí.</p></div>
           <div class="cta"><a href="">¡Llamada a la acción!</a></div>
         </li>
         <li class="card wide">
           <h2 class="card-header">Item Tres</h2>
           <div class="card-body"></div>
           <div class="cta"><a href="">¡Llamada a la acción!</a></div>
          </li>
          <li class="card">
           <h2 class="card-header">Item Cuatro</h2>
           <div class="card-body"><p>El contenido de este ítem-lista va aquí.</p></div>
           <div class="cta"><a href="">¡Llamada a la acción!</a></div>
          </li>
          <li class="card">
           <h2 class="card-header">Item Cinco</h2>
           <div class="card-body"><p>El contenido de este ítem-lista va aquí.</p></div>
            <div class="cta"><a href="">¡Llamada a la acción!</a></div>
          </li>
      </ul>
</body>
</html>