@import url('https://fonts.googleapis.com/css?family=Space+Mono');

/* quick reset so all our padding is the right size */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1000px;
    font-family: 'Space Mono';
    /* height: 100vh;
    width: 100vh; */
}


.center {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.calculator {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    border:2px solid #111;
    border-radius: 5px;
}

.display {
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    color: #333;
    text-align: right;
    font-size: 40px;
    border-radius: 0;

    padding: .2rem .5rem;
}

.bloque-botones {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    border-top: 2px solid #111;
    padding: 1rem;
}

.is-clear, .is-zero {
    grid-column: span 3;
}

.calc-btn {
    font-size: 2rem;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    box-shadow: none;
    outline: none;
    border: 1px solid black ;
    border-radius: 5px;
    
}

.is-clear {
    background-color: #3572DB;
}

.is-equal {
    background-color: #28D060;
}
