* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
}

.item {
  padding: 8px;
  /* background-color: white;
  border: 2px solid tomato;
  border-radius: 6px; */
}

.container {
  /* border: 2px solid violet; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: .8rem;
  margin: 0 auto;
  max-width: 1200px;
  /* min-width: 720px; */
  height: 100vh;

}

/* HEADER SECTION */

.header {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
}

.header-logo {
  /*  */
}

.header-boton {
  /*  */
}

.header-menu a {
 
}

.header-button-bars {
  
}

.header-button-bars button {
  
}

.header-menu a:hover {
  
}

.header-buttom button {
 
}

/* MAIN SECTION */

.main {
  /*  */
}

.main-content {
  /*  */
}
.main-content .headline {
  /*  */
}

.main-content .description {
  /*  */
}

.main-content .play-button {
  /*  */
}

.main-content .play-button .fa-solid {
  margin-right: 6px;
}

.main-img img {
  flex: 1;
  object-fit: cover;
  /*  */
}

footer {
  color: #bdbdbd;
  /*  */
}

.socials {

}

.socials-item {
  
}

@media screen and (max-width: 660px) {
 /*  */
  
}